@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cairo";
  background-color: #f3f2f2;
  color: black;
}

button {
  border: none;
  outline: none;
  background: transparent;
  font-family: "Cairo";
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s;
  font-size: 16px;
}
button:hover {
  background-color: rgba(128, 128, 128, 0.244);
  filter: brightness(60%);
}

input {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-family: "Cairo";
  border-radius: 5px;
}

.app {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 750px) {
  header h1 {
    font-size: 25px;
  }
}
header div {
  display: flex;
  gap: 20px;
}
header div button {
  background: white;
  box-shadow: rgba(10, 10, 10, 0.25) 0px 4px 10px;
  font-size: 20px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 10px;
}
header div .ns {
  width: 50px;
}
@media (max-width: 650px) {
  header div .ns {
    display: none;
  }
}
header div .add {
  display: flex;
  gap: 10px;
  background-color: #1e90ff;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
}
@media (max-width: 750px) {
  header div .add {
    padding: 5px;
    white-space: nowrap;
  }
}
header div .add span {
  font-size: 17px;
}
header div form {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(10, 10, 10, 0.25) 0px 4px 10px;
}
header div form button {
  font-size: 20px;
  padding: 0 10px;
  color: #1e90ff;
  box-shadow: none;
}
header div form input {
  width: 300px;
}
@media (max-width: 750px) {
  header div form input {
    width: 200px;
  }
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  box-shadow: rgba(10, 10, 10, 0.25) 0px 4px 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.card:hover {
  box-shadow: rgba(20, 40, 60, 0.15) 0px 3px 5px 0px, rgba(20, 40, 60, 0.35) 0px 12px 20px 0px;
}
.card:hover .bottom div span:nth-of-type(1) {
  background-color: #1e90ff;
  color: white;
}
.card h1 {
  background-color: #1e90ff;
  width: 18%;
  aspect-ratio: 1;
  min-width: 60px;
  text-align: center;
  color: #fff;
  margin: auto;
  display: grid;
  place-items: center;
  border-radius: 10px;
  box-shadow: rgba(10, 10, 10, 0.25) 0px 4px 10px;
  margin-bottom: 10px;
}
.card p:nth-of-type(1) {
  color: grey;
}
.card p:nth-of-type(2) {
  color: #1e90ff;
  margin-bottom: 20px;
}
.card .bottom div {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.card .bottom div span:nth-of-type(1) {
  background-color: rgba(128, 0, 128, 0.291);
  padding: 8px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  color: #1e90ff;
  transition: all 0.4s;
}
.card .bottom div span:nth-of-type(2) {
  font-weight: 700;
}
.card .buttons {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card .buttons button {
  color: #fff;
  width: 35px;
  aspect-ratio: 1;
}
.card .buttons button:nth-child(1) {
  background-color: rgb(0, 157, 255);
}
.card .buttons button:nth-child(2) {
  background-color: crimson;
}/*# sourceMappingURL=style.css.map */