// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap");

// SCSS imports
@import "./reset.scss";
@import "./variables.scss";

.app {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    @media (max-width: 750px) {
      font-size: 25px;
    }
  }

  div {
    display: flex;
    gap: 20px;

    button {
      background: white;
      box-shadow: $shadow-2;
      font-size: 20px;
      padding: 10px;
      display: grid;
      place-items: center;
      border-radius: 10px;
    }

    .ns {
      width: 50px;
      @media (max-width: 650px) {
        display: none;
      }
    }

    .add {
      display: flex;
      gap: 10px;
      background-color: $blue;
      color: white;
      border-radius: 15px;
      padding: 10px 20px;
      @media (max-width: 750px) {
        padding: 5px;
        white-space: nowrap;
      }
      span {
        font-size: 17px;
      }
    }

    form {
      display: flex;
      background-color: white;
      border-radius: 10px;
      box-shadow: $shadow-2;

      button {
        font-size: 20px;
        padding: 0 10px;
        color: $blue;
        box-shadow: none;
      }

      input {
        width: 300px;
        @media (max-width: 750px) {
          width: 200px;
        }
      }
    }
  }
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  box-shadow: $shadow-2;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
  &:hover {
    box-shadow: $shadow-1;
    .bottom div span:nth-of-type(1) {
      background-color: $blue;
      color: white;
    }
  }

  h1 {
    background-color: $blue;
    width: 18%;
    aspect-ratio: 1;
    min-width: 60px;
    text-align: center;
    color: #fff;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 10px;
    box-shadow: $shadow-2;
    margin-bottom: 10px;
  }

  p:nth-of-type(1) {
    color: grey;
  }
  p:nth-of-type(2) {
    color: $blue;
    margin-bottom: 20px;
  }

  .bottom {
    div {
      display: flex;
      gap: 10px;
      margin-bottom: 10px;
      span:nth-of-type(1) {
        background-color: rgba(128, 0, 128, 0.291);
        padding: 8px;
        display: grid;
        place-items: center;
        border-radius: 5px;
        color: $blue;
        transition: all 0.4s;
      }
      span:nth-of-type(2) {
        font-weight: 700;
      }
    }
  }

  .buttons {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      color: #fff;
      width: 35px;
      aspect-ratio: 1;
      &:nth-child(1) {
        background-color: rgba(0, 157, 255);
      }
      &:nth-child(2) {
        background-color: crimson;
      }
    }
  }
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.63);
  inset: 0;
  display: grid;
  place-items: center;
  backdrop-filter: blur(10px);
  box-shadow: $shadow-1;

  .modal-inner {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    width: 25%;
    max-height: 600px;
    min-height: 380px;

    .modal-head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        border: 1px solid grey;
        height: 40px;
        aspect-ratio: 1;
        display: grid;
        place-items: center;
        font-size: 20px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;
      .field {
        display: flex;
        flex-direction: column;
        gap: 2px;
        input {
          margin-top: 12px;
          box-shadow: $shadow-2;
          border-radius: 10px;
        }
        label {
          font-weight: 700;
        }
      }
      .buttons {
        display: flex;
        justify-content: end;
        gap: 10px;
        margin-top: 20px;
      }

      button {
        padding: 5px 20px;

        &:nth-of-type(1) {
          background-color: grey;
          color: #fff;
        }
        &:nth-of-type(2) {
          background-color: $blue;
          color: #fff;
        }
      }
    }
  }
}
