// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&display=swap");

// Scss imports
@import "./reset.scss";

// Veriables
@import "./variables.scss";

.app {
  padding: 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    @media (max-width: 750px) {
      font-size: 25px;
    }
  }

  div {
    display: flex;
    gap: 20px;

    button {
      background: white;
      box-shadow: $shadow-2;
      font-size: 20px;
      padding: 10px;
      display: grid;
      place-items: center;
      border-radius: 10px;
    }

    .ns {
      width: 50px;
      @media (max-width: 650px) {
        display: none;
      }
    }

    .add {
      display: flex;
      gap: 10px;
      background-color: $blue;
      color: white;
      border-radius: 15px;
      padding: 10px 20px;
      @media (max-width: 750px) {
        padding: 5px;
        white-space: nowrap;
      }
      span {
        font-size: 17px;
      }
    }

    form {
      display: flex;
      background-color: white;
      border-radius: 10px;
      box-shadow: $shadow-2;

      button {
        font-size: 20px;
        padding: 0 10px;
        color: $blue;
        box-shadow: none;
      }
      input {
        width: 300px;
        @media (max-width: 750px) {
          width: 200px;
        }
      }
    }
  }
}
